.adjacent{
    width: 100%;


}

.box1{
    float: left;
    width: 31%;
    height: 50%;
    border: 1px solid black;
}
.box2{
    float: right;
    width: 68%;
    height: 50%;
    border: 1px solid black;
}